.page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem 4rem;
    color: var(--c-white);

    ul {
        margin: 0;
    }
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-header__logo {
    display: flex;
}

.page-header__title {
    font-size: 19px;
    font-weight: 500;
}

.main-nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    width: calc(100% / 3);
}

.site-list {
    justify-content: center;
}

.site-list__item {
    a {
        display: block;
        &:hover {
            border-bottom: 1px solid var(--c-white);
        }
    }

    &:not(:last-of-type) {
        margin-right: 4rem;
    }
}

.user-list {
    justify-content: flex-end;
}

.user-list__item {
    &:not(:last-of-type) {
        margin-right: 2rem;
    }
    svg {
        height: 22px;
        width: 20px;
    }
}

.search-input {
    width: 200px;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    &:focus {
        outline: none;
        border-bottom: 1px solid var(--c-white);
    }
}

.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1c40f;
    transition: 0.4s;
}

.page-header svg {
    fill: var(--c-white);
}
