.personal-selection {
  padding-bottom: 70px;
}
.slider-container {
  margin-left: -25px;
  margin-right: -25px;

  position: relative;
}

.slider-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 999999;
  left: 0px;
  display: block;

  &--left {
    left: -25px;
  }

  &--right {
    margin-left: auto;
    right: -25px;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: var(--c-mediumgray90);

    &:focus,
    :active {
      fill: var(--c-black);
    }

    &:hover {
      fill: var(--c-darkgray150);
    }
  }
}

.slider {
  padding-left: 10px;
  padding-right: 10px;
  a {
    outline: none;
    text-decoration: none;
  }
}

.slider_item {
  padding-left: 15px;
  padding-right: 15px;

  &:focus {
    outline: none !important;
    outline-color: white !important;
  }
  p {
    margin: initial;
  }
}

.product_description {
  margin-top: 20px;
}

.product_pic {
  object-fit: cover;
  width: 100%;
  //padding-left: 15px;
  //padding-right: 15px;
  height: 100%;
  max-height: 340px;
  &:focus {
    outline-color: transparent;
  }

  &:hover {
    filter: drop-shadow(0 0 10px rgba(0, 4, 255, 0.059));
  }
}

.product_name {
  margin-bottom: 20px;
}

.product_price,
.product_price-new,
.product_price-old {
  font-size: 20px;
}

.product_price-new {
  color: var(--c-red);
  margin-right: 10px;
}

.product_price-old {
  color: var(--c-mediumgray90);
}

// .slider button {
//   // background-image: url(/../assets/pics/icons/slider_arrow-left.svg) !important;
// }

// .slick-prev:before {
//   // content: url(/../assets/pics/icons/slider_arrow-left.svg) !important;
//   // background-image: url(/../assets/pics/icons/slider_arrow-left.svg) !important;
//   background-position: center !important;
//   background-repeat: no-repeat !important;
//   color: black !important;
// }
// .slick-next:before {
//   content: "" !important;
//   //background-image: url(./assets/pics/icons/slider_arrow-right.svg);
// }
// .slick-prev,
// .slick-next {
// }

// .slick-prev:before,
// .slick-next:before {
//   color: black !important;
// }
