doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title elshop
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap' rel='stylesheet')
body 
  .page-index
    .underlay
    include ../partials/header.pug
    include ../partials/banner.pug
    .container
      include ../partials/suggestions.pug
    include ../partials/product.pug
    .container.aligned
      include ../partials/advantages.pug
    .container.aligned
      include ../partials/hot-products.pug
    .container.aligned
      include ../partials/footer.pug
