doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Elshop
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap' rel='stylesheet')

body
  include ../partials/header.pug
  .aligned-narrow
    .auth-content
      h2.section-name Forgot your password?
      p.auth-text
        | Enter your email or phone number and recover your account
        form(action='')
          .form_field
            input#login.input.input--wide.auth-form_input(type='text' placeholder='E-mail')
          hr(data-divide="Or")
          .form_field
            input#phone.input.input--wide.auth-form_input(type='tel' value='+447733312345')
          .form_buttons
            button.button.button--wide.login_button(href='#' type='submit') Reset
          .form_field.form_field--centryfied
            span
              | Not a member yet?
              a.auth_link(href='#') Sign up
