<h2 class="section-name">Why should you choose us?</h2>
<div class="advantages-wr">
  <ul class="advantages-list">
    <li class="advantages__item">
      <div class="advantages__icon">
        <svg>
          <use href="../pics/icons/auto.svg">
        </svg>
      </div>
      <div class="advantages__message">
        <p class="advantages__title">Free Shipping</p>
        <p class="advantages__text">All purchases over $199 are eligible for
          free shipping via USPS First Class Mail.</p>
      </div>
    </li>
    <li class="advantages__item">
      <div class="advantages__icon">
        <svg>
          <use href="../pics/icons/payments.svg">
        </svg>
      </div>
      <div class="advantages__message">
        <p class="advantages__title">Easy Payments</p>
        <p class="advantages__text">All payments are processed instantly
          over a secure payment protocol.</p>
      </div>
    </li>
    <li class="advantages__item">
      <div class="advantages__icon">
        <svg>
          <use href="../pics/icons/shield.svg">
        </svg>
      </div>
      <div class="advantages__message">
        <p class="advantages__title">Money-Back Guarantee</p>
        <p class="advantages__text">If an item arrived damaged or you've
          changed your mind, you can send it
          back for a full refund.</p>
      </div>
    </li>
    <li class="advantages__item">
      <div class="advantages__icon">
        <svg>
          <use href="../pics/icons/quality.svg">
        </svg>
      </div>
      <div class="advantages__message">
        <p class="advantages__title">Finest Quality</p>
        <p class="advantages__text">Designed to last, each of our products has
          been crafted with the finest materials.</p>
      </div>
    </li>
  </ul>
</div>