<div class="jumbotron">
  <div class="sales-banner-wr">
    <div class="sales-banner">
      <p class="sales-banner__text">Sale of the
        summer
        collection</p>
      <a href="#" class="shop-button">
        <div class="shop-button__arrow">
          <svg>
            <use href="../pics/icons/arrow-left.svg">
          </svg>
        </div>
        <span>Shop now</span>
      </a>
    </div>
  </div>
  <div class="advantages-wr--banner">
    <ul class="advantages-list--banner">
      <li class="advantages__item--banner">
        <div class="advantages__icon--banner">
          <svg>
            <use href="../pics/icons/auto.svg">
          </svg>
        </div>
        <div class="advantages__message--banner">
          <p class="advantages__title--banner">Free Shipping</p>
          <p class="advantages__text">On purchases over $199</p>
        </div>
      </li>
      <li class="advantages__item--banner">
        <div class="advantages__icon--banner">
          <svg>
            <use href="../pics/icons/smile.svg">
          </svg>
        </div>
        <div class="advantages__message--banner">
          <p class="advantages__title--banner">99% satisfied customers</p>
          <p class="advantages__text">Our clients' opinions
            speak for themselves</p>
        </div>
      </li>
      <li class="advantages__item--banner">
        <div class="advantages__icon--banner">
          <svg>
            <use href="../pics/icons/shield.svg">
          </svg>
        </div>
        <div class="advantages__message--banner">
          <p class="advantages__title--banner">Originality Guaranteed</p>
          <p class="advantages__text">30 days warranty for each
            product from our store</p>
        </div>
      </li>
    </ul>
  </div>
</div>