.jumbotron
  .sales-banner-wr
    .sales-banner
      p.sales-banner__text
        | Sale of the
        | summer
        | collection
      a.shop-button(href='#')
        .shop-button__arrow
          svg
            use(href='../pics/icons/arrow-left.svg')
        span Shop now
  .advantages-wr--banner
    ul.advantages-list--banner
      li.advantages__item--banner
        .advantages__icon--banner
          svg
            use(href='../pics/icons/auto.svg')
        .advantages__message--banner
          p.advantages__title--banner Free Shipping
          p.advantages__text On purchases over $199
      li.advantages__item--banner
        .advantages__icon--banner
          svg
            use(href='../pics/icons/smile.svg')
        .advantages__message--banner
          p.advantages__title--banner 99% satisfied customers
          p.advantages__text
            | Our clients&apos; opinions
            | speak for themselves
      li.advantages__item--banner
        .advantages__icon--banner
          svg
            use(href='../pics/icons/shield.svg')
        .advantages__message--banner
          p.advantages__title--banner Originality Guaranteed
          p.advantages__text
            | 30 days warranty for each
            | product from our store
