section.footer_nav-wr
  .footer_about
    .logo.footer_logo
      svg.logo__pic
        use(href='../pics/icons/logo.svg')
      h1.logo__title E-shop
    p.footer_text
      | House My Brand designs clothing for the young, the old &amp;
      | everyone in between &ndash; but most importantly, for the fashionable
    ul.socials_list
      li.socials_item.socials_item--facebook
        a(href='')
          svg
            use(href='../pics/icons/facebook.svg')
      li.socials_item.socials_item--twitter
        a(href='')
          svg
            use(href='../pics/icons/twitter.svg')
      li.socials_item.socials_item--linkedin
        a(href='')
          svg
            use(href='../pics/icons/linkedin.svg')
      li.socials_item.socials_item--instagram
        a(href='')
          svg
            use(href='../pics/icons/instagram.svg')
      li.socials_item.socials_item--youtube
        a(href='')
          svg
            use(href='../pics/icons/youtube.svg')
  .footer_nav
    .footer_nav--item_title Shopping online
    .footer_nav--item
      a.footer_nav--item_link(href='#') Order Status
    .footer_nav--item
      a.footer_nav--item_link(href='#') Shipping and Delivery
    .footer_nav--item
      a.footer_nav--item_link(href='#') Returns
    .footer_nav--item
      a.footer_nav--item_link(href='#') Payment Options
    .footer_nav--item
      a.footer_nav--item_link(href='#') Contact Us
    .footer_nav--item_title Information
    .footer_nav--item
      a.footer_nav--item_link(href='#') Gift Cards
    .footer_nav--item
      a.footer_nav--item_link(href='#') Find a store
    .footer_nav--item
      a.footer_nav--item_link(href='#') Newsletter
    .footer_nav--item
      a.footer_nav--item_link(href='#') Become a member
    .footer_nav--item
      a.footer_nav--item_link(href='#') Site feedback
    .footer_nav--item_title Contact
    .footer_nav--item
      a.footer_nav--item_link(href='#') store@ui.com
    .footer_nav--item
      a.footer_nav--item_link(href='#') +1 123 111 111
