<header class="page-header">
    <nav class="main-nav">
        <a class="main-nav__list page-header__logo">
            <div class="logo">
                <svg class="logo__pic">
                    <use href="../assets/pics/icons/logo.svg">
                </svg>
                <h1 class="page-header__title logo__title">E-shop</h1>
            </div>
        </a>
        <ul class="main-nav__list site-list">
            <li class="site-list__item"><a href="#">Man</a></li>
            <li class="site-list__item"><a href="#">Woman</a></li>
            <li class="site-list__item"><a href="#">Kids</a></li>
        </ul>
        <ul class="main-nav__list user-list">
            <li class="user-list__item">
                <form action="" class="page-header__search" autocomplete="off">
                    <input type="search" class="search-input">
                    <svg>
                        <use href="../assets/pics/icons/search.svg">
                    </svg>
                </form>
            </li>
            <li class="user-list__item">
                <a href="#">
                    <svg>
                        <use href="../assets/pics/icons/cart.svg">
                    </svg>
                </a>
            </li>
            <li class="user-list__item">
                <a href="#">
                    <svg>
                        <use href="../assets/pics/icons/account.svg">
                    </svg>
                </a>
            </li>
        </ul>
    </nav>

    <include src="src/partials/banner.html"></include>
</header>