section.product_description
  .product_details
    .description_pic
      svg
        use(xlink:href='./spritemap.svg#sprite-description')    
    h2.description_title Details and product description
    p.description_text Reflecting your personal style to ensure your playtime has personality, this is our movement for movement.

  .product_materials
    .description_pic
      svg
        use(xlink:href='./spritemap.svg#sprite-materials')     
    h2.description_title Material(s) and care
    p.description_text Body: 98% COTTON - 2% ELASTANE
    .care-info
      .care-info_item
        svg
          use(xlink:href='./spritemap.svg#sprite-wash')          
      .care-info_item
        svg
          use(xlink:href='./spritemap.svg#sprite-nodryclean')        
      .care-info_item
        svg
          use(xlink:href='./spritemap.svg#sprite-temperature')        
      .care-info_item
        svg
          use(xlink:href='./spritemap.svg#sprite-donotbleach')


