.personal-selection
  h2.section-name Selected just for you
  .slider-container
    .slider-arrow.slider-arrow--left
      svg
        use(href='../pics/icons/slider_arrow-left.svg')
    .slider-arrow.slider-arrow--right
      svg
        use(href='../pics/icons/slider_arrow-right.svg')
    .slider
      a.slider_item.product_card.product_link(href='#')
        img.product_pic.product_link(src='../pics/main-page_slider//T-ShirtSummerVibes.png' alt='T-Shirt Summer Vibes')
        .product_description
          p.product_name T-Shirt Summer Vibes
          span.product_price-new $79999.99
          span.product_price-old $119.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/LooseKnit_.png' alt='Loose Knit')
        .product_description
          p.product_name Loose Knit 3/4 Sleeve
          p.product_price $119.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/BasicSlimTShirt.png' alt='Basic Slim T-Shirt')
        .product_description
          p.product_name Basic Slim Fit T-Shirt
          p.product_price $79.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/LooseTexturedT-Shirt.png' alt='Loose Textured T-Shirt')
        .product_description
          p.product_name Loose Textured T-Shirt
          p.product_price $119.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider//T-ShirtSummerVibes.png' alt='T-Shirt Summer Vibes')
        .product_description
          p.product_name T-Shirt Summer Vibes
          p.product_price $89.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/LooseKnit_.png' alt='Loose Knit')
        .product_description
          p.product_name Loose Knit 3/4 Sleeve
          p.product_price $119.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/BasicSlimTShirt.png' alt='Basic Slim T-Shirt')
        .product_description
          p.product_name Basic Slim Fit T-Shirt
          p.product_price $79.99
      a.slider_item.product_card.product_link(href='#')
        img.product_pic(src='../pics/main-page_slider/LooseTexturedT-Shirt.png' alt='Loose Textured T-Shirt')
        .product_description
          p.product_name Loose Textured T-Shirt
          p.product_price $119.99
