<div class="personal-selection">
  <h2 class="section-name">Selected just for you</h2>
  <div class="slider-container">
    <div class="slider-arrow slider-arrow--left">
      <svg>
        <use href="../assets/pics/icons/slider_arrow-left.svg">
      </svg>
    </div>
    <div class="slider-arrow slider-arrow--right">
      <svg>
        <use href="../assets/pics/icons/slider_arrow-right.svg">
      </svg>
    </div>
    <div class="slider">
      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic product_link" src="../assets/pics/main-page_slider//T-ShirtSummerVibes.png" alt="">

        <div class="product_description">
          <p class="product_name">T-Shirt Summer Vibes</p>
          <span class="product_price-new">$79999.99</span>
          <span class="product_price-old">$119.99</span>
        </div>
      </a>
      <a class="slider_item product_card product_link" href="#"><img class="product_pic"
          src="../assets/pics/main-page_slider/LooseKnit_.png" alt="">
        <div class="product_description">
          <p class="product_name">Loose Knit 3/4 Sleeve</p>
          <p class="product_price">$119.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider/BasicSlimTShirt.png" alt="">
        <div class="product_description">
          <p class="product_name">Basic Slim Fit T-Shirt</p>
          <p class="product_price">$79.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider/LooseTexturedT-Shirt.png" alt="">
        <div class="product_description">
          <p class="product_name">Loose Textured T-Shirt</p>
          <p class="product_price">$119.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider//T-ShirtSummerVibes.png" alt="">
        <div class="product_description">
          <p class="product_name">T-Shirt Summer Vibes</p>
          <p class="product_price">$89.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider/LooseKnit_.png" alt="">
        <div class="product_description">
          <p class="product_name">Loose Knit 3/4 Sleeve</p>
          <p class="product_price">$119.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider/BasicSlimTShirt.png" alt="">
        <div class="product_description">
          <p class="product_name">Basic Slim Fit T-Shirt</p>
          <p class="product_price">$79.99</p>
        </div>
      </a>

      <a class="slider_item product_card product_link" href="#">
        <img class="product_pic" src="../assets/pics/main-page_slider/LooseTexturedT-Shirt.png" alt="">
        <div class="product_description">
          <p class="product_name">Loose Textured T-Shirt</p>
          <p class="product_price">$119.99</p>
        </div>
      </a>
    </div>
  </div>
</div>