section.subscribe
  p.subscribe_text
    | Subscribe to our newsletter and
    | receive exclusive offers every week
  form.subscribe_form(action='')
    input.subscribe_input(type='email' placeholder='Enter your email')
    button.subscribe_button Subscribe