section.suggestions.aligned
  .suggestions__card.suggestions__item-1
    .suggestions__content
      p.suggestions__title
        | New arrivals
        | are now in!
      div
        button.suggestion__button Show collection
  .suggestions__card.suggestions__item-2
    .suggestions__content
      p.suggestions__title
        | Basic t-shirts
        | $29,99
      div
        button.suggestion__button More details
  .suggestions__card.suggestions__item-3
    .suggestions__content
      p.suggestions__title
        | Sale this
        | summer
      div
        button.suggestion__button View All
