:root {
    --c-white: #ffffff;
    --c-mediumgray150: #aaaaaa;
    --c-red: #ff0000;
    --c-lightgray40: #eeeeee;
    --c-black: #000000;
    --c-darkgray110: #ababab;
    --c-moccasin: #ffe3b7;
    --c-darkgray130: #a8a8a8;
    --c-mediumgray90: #cecece;
    --c-mediumgray50: #d1d1d1;
    --c-blue: #2900ff;
    --c-darkgray200: #474747;
    --c-darkgray150: #808080;
    --c-darkgray100: #aeaeae;
    --c-wheat: #fff3df;
    --c-lightgray80: #e5e5e5;
    --c-lightgray30: #f6f6f6;
    --c-lightgray70: #e6e6e6;
    --c-mediumgray110: #c5c5c5;
    --c-lightgray50: #ebebeb;
    --c-orange: #fbb03b;
    --c-mediumgray100: #b5b5b5;
    --c-lightgray150: #d8d8d8;
}
